label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
   background-color: black;
  text-align:center;
  color:white;
  }

  
   body{

    background-size: cover;
  
    background-image: url("https://images.pexels.com/photos/1443894/pexels-photo-1443894.jpeg?cs=srgb&dl=pexels-reto-b%C3%BCrkler-1443894.jpg&fm=jpg");
  
  } 
  /* Navbar */

.navbar-nav a {
  font-size: 18px;
  ;
}

.board{

  background-color: coral;
  color: rgb(54, 52, 52);

}



#nav-logo{
  border-radius: 50%;
    width: 44px;
    height: 38px;
    object-position: center top;
    object-fit: cover;
}
.nav-title, .nav-title-to{
  font-weight: 600;
  color: white;
  font-size: 3rem;
  letter-spacing: .75px;
}
.nav-title-to{
  color: yellow;
}
.full-nav{
    padding:20px
}



#home-img{
  height:100vh;
  object-fit:cover;
  width:100%;
  position:center left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.formClass{

  /* display:flex; */
  /* justify-content: center; */
  margin-top: 2ch;
  color: darkslategray;


  /* background-image: url(https://unsplash.it/1400/799);  */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* color: $onyx;
  font-family: $font;
  
  overflow: hidden;  */
} 

.form-group{
  text-align: left;
  line-height: 1cm;
  border-radius: 30px;
 
}


button {
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}






.bodylogin {
 
  padding:0;
  font-family: sans-serif;
  /* background: linear-gradient(#141e30, #243b55); */

  background-color: tomato;
  display:flex;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(6, 90, 247, 0.6);
  border-radius: 10px;
  border-color: red;
  
}


.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(11, 185, 197, 0.856);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(9, 166, 194, 0.952);
  border-radius: 10px;
  margin-top: 30ch;
  margin-bottom: 100ch ;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}










@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Playfair+Display:ital@1&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Playfair+Display:ital,wght@0,900;1,400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Playfair+Display:ital,wght@0,900;1,400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Bebas+Neue&family=Libre+Franklin:ital,wght@1,900&family=Playfair+Display:ital,wght@0,900;1,400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Bebas+Neue&family=Libre+Franklin:ital,wght@0,600;1,900&family=Playfair+Display:ital,wght@0,900;1,400&family=Roboto&display=swap');

/* 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.crousalimage{
  width:1500px;
  height:600px;
  filter: brightness(70%);
  
}


.carousalText h1{
  color:rgb(238, 235, 235);
  font-weight: bolder;
  font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
}

.carousalText h4{
  color:rgba(240, 236, 12, 0.911);
  font-weight: bolder;
  font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;

}

.carousalText p{
  color:lightgray;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
}

.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}



.AboutText{
  padding-top: 150px;

  font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif

}

.Logo {
  /* background-image: url(./logo1.png); */
  height: 100px;
  width: 230px;
  /* margin-top: -1cm; */
}

.navbar-custom {
  height: 10px;
}


.catContainer{
  margin-top: 0.5cm;
  background: blue;
}



.bodyC {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.htmlC {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.columnC {
  float: left;
  width: 22.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  margin-left: 1cm;
}

.cardC {
  box-shadow: 0 4px 8px 0 rgba(7, 79, 160, 0.897);
  margin: 8px;
  border-radius: 3ch;

}
.imgC {
height: 20ch;

/* width: 18ch; */
  border-radius: 3ch;
  object-fit: cover;

}


.about-section {
  padding: 50px;
  text-align: center;
  background-color: white;
  color: white;
  height: 300px;
}

.containerC {
  padding: 0 16px;
}

.containerC::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.titleC {
  color: grey;
}

.buttonC {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.buttonC:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .columnC {
    width: 100%;
    display: block;
    background-color: rgba(53, 178, 236, 0.808);

  }
}


.styleC{width:100%;height:0;
  padding-bottom:10%;
  height: 1cm;
  position:relative;
margin-top: -1cm;
}

.style2{
width:"100%"; height:"100%" }

.backColor{
background-color: rgba(53, 178, 236, 0.808);
}

.owner{
  margin-top: 2cm;
  
}

.active_btn {
  background-color: deepskyblue !important;
}
.btn {
  border: 1px solid whitesmoke !important;
}
.btn:focus {
  box-shadow: none !important;
  /* outline: thin dotted !important; */
}
.search_btn {
  margin-top: 0.5rem;
  background-color: deepskyblue !important;
  width: 100%;
}
.search_btn:hover,
.search_btn:focus {
  background-color: deepskyblue !important;
}
#ticket_card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.input-range__label-container {
  color: black;
}
.input-range__label--max > .input-range__label-container {
  margin-right: 2rem;
}